#hero {
    button {
        @include screen-md {
            width: 11rem;
        }
    }

    .zdog-canvas {
        margin-inline: auto;
        width: 320px;
        height: 290px;

        @include screen-xs {
            width: 100%;
        }
    }
}