// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500;800&family=Open+Sans:wght@300;400;500;700&display=swap')

$sansMono: 'Noto Sans Mono', monospace
$openSans: 'Open Sans', sans-serif

// Colors
$white: #F2F2F2

$blueDark: #010440
$blueDarkMedium: #0B2D59
$blueDarkMediumHover: #102F58
$blueMedium: #05AFF2
$blueMediumHover: #16B2f0
$blueMediumLight: #04B2D9
$blueLight: #05DBF2