@import _variables
    
*
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none
    font-family: $openSans
    scroll-behavior: smooth

body
    background-color: var(--primaryColor)

    header

        nav
            height: 3.5rem
            background-color: var(--secondaryColor)
            display: flex
            align-items: center
            justify-content: center
            padding: 0.5rem 2rem

            .logo
                max-width: 14rem
                width: 90%
                color: var(--fontColor)

                span
                    font-size: 1.2rem
                    font-family: $sansMono
                    font-weight: 800

            ul
                max-width: 32rem
                width: 90%
                display: flex
                justify-content: center

                li

                    a
                        color: var(--fontColor)
                        font-size: 1.125rem
                        font-weight: 500
                        margin: 0 0.2rem
                        padding: 0.8rem
                        border-radius: 0.5rem

                        &:hover
                            transition: 0.2s
                            background-image: $gradientButton
                            background-color: var(--secondaryColor)

            .configs
                max-width: 14rem
                width: 90%
                display: flex
                justify-content: flex-end

                .button
                    padding: 0.8rem 1.4rem
                    background-color: var(--secondaryColor)
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.5rem
                    background-image: $gradientButton
                    margin: 0 0.2rem
                    cursor: pointer
                    width: 12rem

                    &:hover
                        transition: 0.2s
                        opacity: 0.95

                    span
                        color: var(--fontColor)
                        font-size: 1.125rem
                        font-weight: 700

                    i
                        color: var(--fontColor)
                        font-size: 1.2rem
                        position: absolute

                .theme
                    width: 1.5rem
                    height: 1.5rem

    main
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        .introduction
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            max-width: 60rem
            width: 90%
            margin: 3rem 0 0 0

            .hello
                width: 30rem
                display: flex
                flex-direction: column
                justify-content: center

                h1
                    font-family: $sansMono
                    font-weight: 800
                    font-size: 3.5rem
                    color: var(--fontColor)

                .button
                    width: 10rem
                    height: 3.1rem
                    margin: 2.5rem 1rem 1rem 0
                    background-color: var(--secondaryColor)
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.5rem
                    background-image: $gradientButton
                    width: 12rem

                    &:hover
                        transition: 0.2s
                        opacity: 0.95

                    span
                        color: var(--fontColor)
                        font-size: 1.125rem
                        font-weight: 700   
                
            .media
               

        .studies
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            max-width: 60rem
            width: 90%
            margin: 3rem 0 0 0

            .lang-stats-github
                display: flex
                justify-content: center
                align-items: center

                a
                    display: flex
                    justify-content: center
                    align-items: center

                    img
                        width: 30rem

            .repos-github
                display: flex
                justify-content: center
                align-items: center

                .repos-container
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    align-items: center

                    a
                        display: flex
                        justify-content: center
                        align-items: center
                        margin: 0.2rem

                        img
                            max-height: 130em
                            height: 90%

        .contact

            .container
                width: 26rem
                height: 32rem
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                background-color: var(--secondaryColor)
                border-radius: 0.5rem
                margin: 1rem

                h3
                    color: var(--fontColor)
                    font-size: 1.2rem
                    font-weight: 700
                    margin: 1rem 0

                form
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center

                    input, textarea
                        border: 0.125rem solid var(--tertiaryColor)
                        outline: none
                        width: 15rem
                        height: 2.2rem
                        border-radius: 0.5rem
                        padding: 0.5rem 0.8rem
                        margin: 0.2rem 0
                        resize: none
                        font-size: 1rem
                        caret-color: var(--secondaryColor)

                        &[type=submit]
                            border: none
                            margin: 1rem 0
                            width: 12rem
                            height: 3.1rem
                            background-color: var(--primaryColor)
                            display: flex
                            align-items: center
                            justify-content: center
                            border-radius: 0.5rem
                            cursor: pointer
                            color: var(--fontColor)
                            background-image: $gradientButton
                            font-size: 1.125rem
                            font-weight: 700

                            &:hover
                                transition: 0.2s
                                opacity: 0.95

                    textarea
                        height: 6rem

                p
                    color: var(--fontColor)
                    text-align: center

                .button
                    border: none
                    margin: 1rem 0
                    width: 12rem
                    height: 3.1rem
                    background-color:#25D366
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.5rem
                    cursor: pointer
                    color: var(--fontColor)
                    background-image: $gradientButton
                    font-size: 1.125rem
                    font-weight: 700