@import _variables
    
*
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none
    font-family: $primary-font
    scroll-behavior: smooth

body
    background-color: var(--primary-color)
    &::-webkit-scrollbar
        width: 0.7rem

    &::-webkit-scrollbar-track
        background-color: var(--primary-color)

    &::-webkit-scrollbar-thumb
        background-color: var(--secondary-color)
        box-shadow: $shadow

    header

        nav
            height: 3.5rem
            background-color: var(--secondary-color)
            display: flex
            align-items: center
            justify-content: center
            padding: 0.5rem 2rem
            box-shadow: $shadow

            .logo
                max-width: 55rem
                width: 90%
                color: var(--font-color)

                span
                    font-size: 1.2rem
                    font-family: $secondary-font
                    font-weight: 800
                    cursor: pointer

            .configs
                max-width: 5rem
                width: 90%
                display: flex
                justify-content: flex-end

                .button
                    padding: 0.8rem
                    background-color: var(--secondary-color)
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.25rem
                    background-image: $gradient-button
                    margin: 0 0.2rem
                    cursor: pointer
                    width: 12rem

                    &:hover
                        transition: 0.2s
                        opacity: 0.95

                    span
                        color: var(--font-color)
                        font-size: 1.125rem
                        font-weight: 700

                    i
                        color: var(--font-color)
                        font-size: 1.2rem
                        position: absolute

                .theme
                    width: 1.5rem
                    height: 1.5rem

                    &:hover
                        i
                            transition: 0.2s
                            color: var(--primary-color)

    main
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        .introduction
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            margin: 3rem 0
            max-width: 60rem
            width: 90%

            .hello
                max-width: 30rem
                width: 90%
                display: flex
                flex-direction: column
                justify-content: center

                @media screen and (max-width: 1065px)
                    text-align: center
                    align-items: center
                    
                    .button
                        margin: 2.5rem 0
                        
                h1
                    font-family: $secondary-font
                    font-weight: 800
                    font-size: 2.5rem
                    color: var(--font-color)

                .button
                    height: 3.1rem
                    margin: 2.5rem 1rem 1rem 0
                    background-color: var(--secondary-color)
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.25rem
                    background-image: $gradient-button
                    width: 12rem

                    span
                        color: var(--font-color)
                        font-size: 1.125rem
                        font-weight: 700
                
            .media
                max-width: 30rem
                width: 90%
                height: 25.625rem
                display: flex
                justify-content: flex-end
                align-items: flex-start

                @media screen and (max-width: 1065px)
                    align-items: center
                    justify-content: center
        
        .works
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            max-width: 60rem
            width: 90%
            margin: 1rem 0 4rem 0

            h2
                font-size: 2rem
                font-weight: 700
                color: var(--font-color)
                margin: 0 0 2rem 0
                text-align: center

            .container-works
                display: flex
                align-items: center
                justify-content: center
                flex-wrap: wrap

                .card-work
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    width: 12rem
                    height: 16rem
                    color: var(--font-color)
                    border-radius: 0.25rem
                    margin: 0.5rem
                    text-align: center
                    padding: 0.5rem

                    i
                        color: var(--font-color)
                        font-size: 4.5rem

                    h4
                        margin: 0.5rem 0
                        font-size: 1.125rem

            .button
                height: 3.1rem
                width: 12rem
                margin: 2.5rem 0
                background-color: var(--secondary-color)
                display: flex
                align-items: center
                justify-content: center
                border-radius: 0.25rem
                background-image: $gradient-button

                span
                    color: var(--font-color)
                    font-size: 1.125rem
                    font-weight: 700
               
        .studies
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            max-width: 60rem
            width: 90%
            margin: 3rem 0 4rem 0

            h2
                font-size: 2rem
                font-weight: 700
                color: var(--font-color)
                margin: 0 0 2rem 0
                text-align: center

            .studies-projects
                display: flex
                align-items: center
                justify-content: center
                flex-wrap: wrap

                .card-project
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 18rem
                    height: 7rem
                    color: var(--font-color)
                    border-radius: 0.25rem
                    margin: 0.5rem

                    img
                        width: 3rem
                        margin: 0 1rem

                    .description
                        width: 13rem
                        margin: 0 1rem 0 0

                        a
                            h4
                                font-family: $secondary-font
                                font-weight: 800
                                font-size: 1rem
                                color: var(--font-color)

            .button
                height: 3.1rem
                width: 12rem
                margin: 2.5rem 0
                background-color: var(--secondary-color)
                display: flex
                align-items: center
                justify-content: center
                border-radius: 0.25rem
                background-image: $gradient-button
                color: var(--font-color)
                font-size: 1.125rem
                font-weight: 700

        .contact
            margin: 3rem 0

            .container
                width: 24rem
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                background-color: var(--secondary-color)
                border-radius: 0.25rem
                margin: 0.5rem
                box-shadow: $shadow
                padding: 1.5rem 0.5rem
                
                @media screen and (max-width: 375px)
                    width: 16rem

                h3
                    color: var(--font-color)
                    font-size: 1.2rem
                    font-weight: 700
                    margin: 0.5rem 0 1.5rem 0
                    padding: 0 1rem
                    text-align: center

                form
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center

                    input, textarea
                        border: 0.125rem solid var(--tertiaryColor)
                        outline: none
                        width: 15rem
                        height: 2.2rem
                        border-radius: 0.25rem
                        padding: 0.5rem 0.8rem
                        margin: 0.2rem 0
                        resize: none
                        font-size: 1rem
                        caret-color: var(--secondary-color)

                        @media screen and (max-width: 375px)
                            width: 12rem

                        &[type=submit]
                            border: none
                            margin: 1.2rem 0
                            width: 12rem
                            height: 3.1rem
                            background-color: var(--primaryColor)
                            display: flex
                            align-items: center
                            justify-content: center
                            border-radius: 0.25rem
                            cursor: pointer
                            color: var(--font-color)
                            background-image: $gradient-button
                            font-size: 1.125rem
                            font-weight: 700

                            &:hover
                                transition: 0.2s
                                opacity: 0.95

                    textarea
                        height: 6rem

                p
                    color: var(--font-color)
                    text-align: center

                .button
                    border: none
                    margin: 1rem 0
                    width: 12rem
                    height: 3.1rem
                    background-color:#25D366
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.25rem
                    cursor: pointer
                    color: var(--font-color)
                    background-image: $gradient-button
                    font-size: 1.125rem
                    font-weight: 700

                    &:hover
                        transition: 0.2s
                        opacity: 0.95

    footer
        background-color: var(--secondary-color)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 1rem
        margin: 3rem 0 0 0
        box-shadow: $shadow

        .social-media
            margin: 0 0 1rem 0

            a
                color: var(--font-color)
                margin: 0 0.4rem

                &:hover
                    transition: 0.4s
                    color: var(--primaryColor)

                i
                    font-size: 1.8rem

        img
            width: 8rem
            height: 8rem
            margin: 0 0 1rem 0

        p
            color: var(--font-color)
            text-align: center
        
