.theme-light {
    --font-color:#181818;
    --primary-color:#F2F2F2;
    --secondary-color:#05AFF2;
    --tertiary-color:#010440;
}
.theme-dark {
    --font-color:#F2F2F2;
    --primary-color:#010440;
    --secondary-color:#0B2D59;
    --tertiary-color:#05AFF2;
}

.theme-light .light {
    display: none;
}

.theme-dark .dark {
    display: none;
}